@model TrainingViewModel
@{
    ViewBag.Title = "Start your training";
}

@if (Model != null && Model!.Exercises.Any())
{
    <h1 class="text-center">@ViewBag.Title</h1>
    <div class="row">

        @if (!Model.IsStarted)
        {   
            <form  asp-controller="Training" asp-action="Start" method="post" asp-route-id="@Model.Id">
            <input type="submit" value="Start training" class="btn btn-primary mb-2">
            </form>
        }

        @foreach(AllExerciseViewModel exercise in Model!.Exercises)
        {
            <div class="col-4 d-inline">
            <Partial name = "_ExercisePartial" model="exercise"/>
            <form class="text-center" asp-controller="Training" asp-action="Remove" method="post" asp-route-id="@exercise.Id">
            <input type="submit" value="Remove" class="btn btn-danger mb-2">
            </form>
            <form class="text-center" asp-controller="Training" asp-action="Edit" method="get" asp-route-id="@exercise.Id">
            <input type="submit" value="Edit" class="btn btn-warning">
            </form>
           </div>
        }
        @if (Model.IsEnded)
        {
            <form  asp-controller="Training" asp-action="Finish" method="post" asp-route-id="@Model.Id">
            <input type="submit" value="Finish training" class="btn btn-primary mb-2">
            </form>
        }
    </div>
}
else
{
    <h2 class="text-center text-danger">You dont have exercise yet!</h2>
}
